.github
.git
*.md
.vscode
.gitignore
Makefile
docs
.eslintcache
.gocache
/web/node_modules
/data
/logs
/deliverables
/.workbuddy
/bin
/electron
/sdk
/test_*
/*.exe
/*.tar.gz
/*.tar
new-api
new-api-bin